<aside class="contact">
	<a href="http://www.informatik.tu-darmstadt.de">
		<img class="institutelogo" src="{{ "/assets/img/fb-logo.png" | relative_url }}" >
    	</a>
	<h1> Kontakt</h1>
	<p class="colored"><b>Dekan</b></p>
	<p>{{ page.contact.person }}</p>
	<p>{{ page.contact.room }}<br>
	{{ page.contact.street }}<br>
	{{ page.contact.postal_code }} {{ page.contact.city }}</p>
	<p>Technische Universität 
	Darmstadt</p>
	<i class="fa fa-phone" aria-hidden="true"></i>{{ page.contact.phone }}<br>
	<i class="fa fa-envelope-o" aria-hidden="true"></i> <u>{{ page.contact.email }}</u>
</aside>
