<aside class="contact">
	<a href="{{site.contact.institutelogo.url}}">
		<img class="institutelogo" src="{{site.contact_institutelogo.path | absolute_url }}" >
  </a>
	<h1> Kontakt</h1>
	<p class="colored"><b>{{site.contact_header}}</b></p>
	<p>{{ site.contact_person }}</p>
	<p>{{ site.contact_room }}<br>
	{{ site.contact_street }}<br>
	{{ site.contact_postal_code }} {{ site.contact_city }}</p>
	<p>Technische Universität	Darmstadt</p>
	<i class="fa fa-phone" aria-hidden="true"></i>{{ site.contact_phone }}<br>
	<i class="fa fa-envelope-o" aria-hidden="true"></i> <u>{{ site.contact_email }}</u>
	{% for logo in site.contact_logos %}
			<h1>{{logo.title}}</h1>
			<a href="{{logo.url}}">
				<img class="institutelogo" src="{{ logo.path | absolute_url }}" >
		  </a>
	{% endfor %}
</aside>
